<!DOCTYPE html>

<html>

   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=device-width,initial-scale=1">
   </head>

   <body>

      <div class="container">
        <h2 id="header">Neos Presentation Tool</h2>
        <h3>Instructions:</h3>
        <ol>
          <li>Upload a pdf</li>
          <li>Copy the 5 digit code that the website will tell you once the pdf is finished uploading and processing</li>
          <li>Paste the code in the 'Code' field in the Neos Presentation Tool in game</li>
        </ol>

        <h3>Upload File</h3>
        <p>
          Please Upload a File (pdf) ...
        </p>
        <div class="view">
          <h4 id="output"></h4>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
      </div>
      <div class="footer">
	      <!--<p> by me lol </p>-->
      </div>
   </body>


</html>
